.buttonAccept {
	background-color: #4CAF50;
}
.buttonComplete {
	background-color: #21ABCD;
}
.slide_button{
	display: block;
	width : 100px;
}
.table_div{
	display:none;
}

.welcome-greeting {
	position: absolute;
	top: 30px;
	left:30px;
}


nav{
    display: block;
    float:left;
    list-style: none;
    width: 100%;
	height:40px;
    margin-bottom: 30px;


}
nav li {
	 float: right;
}

nav li a{
	
	display: block;
	text-align:  center;
	line-height: 20px;
	color: black;
	font-size: 14px;
	font-style: bold;
    padding:  10px 2px;
	width: auto;    
	text-decoration:none;
    border-radius: 7px;
    margin-right: 5px;
}
nav li a:hover{

    background-color:#2ECCFA;
    cursor:pointer;
    text-decoration:none;
    color:#610B0B;
}

